
.card{
    border-radius: 0%;
}


/* FORMULARIO  */


.form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#form-nombre, #form-apellido, #form-categoria, #form-cantidad, #form-resumen, #form-borrar{
    width: 49%;
    margin-bottom: 8px;
}


#form-tituloCantidad, #form-tituloCategoria {
    width: 49%;
    height: 40px;
   
}

#textoTotalPagar {
    padding-top: 10px;
    padding-left: 20px;
}
    


.btn-form{
    height: 30px;
    width: 100%;
    background-color: #8eb14d;
    transition: .3s;
    border: none;
    border-radius: 7px;
}
.btn-form:hover{
    transition: .3s;
    background-color: grey;
}

/*  FOOTER */


.footer{
    margin-top: 20px;
    height: 90px;
    background-color: #205f88; 
}
.btn-pie{
    text-decoration: none;
    flex-flow: wrap;
    width: 20px;
    text-align: center;
}


/* MEDIA */

@media all and (max-width: 768px) {

 

    .footer{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .btn-pie{
        width: 100%;
        justify-content: center;
        text-align: center;

    }

}

